@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
.App {
  text-align: center;
}
.App header {
  max-width: 100%;
  display: grid;
  grid-template-columns: 80vw auto;
  justify-content: center;
  margin-top: 12vw;
}
.App header .div1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 10vw;
}
.App header .div1 img {
  width: 88px;
  height: 88px;
}
.App header .div1 .hoverClass {
  display: none;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-top: -6.4vw;
  background-color: rgba(128, 128, 128, 0.597);
  border-radius: 50px;
  height: 88px;
  width: 88px;
}
.App header .div1 .hoverClass img {
  width: 25px;
  height: 25px;
}
.App header .div1 #twitter {
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  text-align: center;
}
.App header .div1 #slack {
  display: none;
}
.App header .div2 .share_btn {
  width: 40px;
  height: 40px;
  margin-top: -10px;
}
.App header .div2 .share_btn_desktop {
  width: 40px;
  height: 40px;
  margin-top: -10px;
}
.App .links {
  max-width: 100%;
  margin-top: 4vw;
  display: flex;
  gap: 8vw;
  flex-direction: column;
  align-items: center;
}
.App .links a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: black;
  background-color: #EAECF0;
  border-radius: 8px;
  width: 82vw;
  padding: 24px;
  text-decoration: none;
}
.App .links a:hover {
  background-color: #D0D5DD;
}
.App .links a:focus {
  background-color: #EAECF0;
}
.App .div3 {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4vw;
  gap: 8vw;
}
.App .div3 img {
  width: 24px;
  height: 24px;
}
.App footer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 20px;
  padding-bottom: 30px;
  margin-top: 17vw;
}
.App footer .footer-div1 {
  display: flex;
}
.App footer .footer-div1 img {
  width: 25vw;
  height: 24px;
}
.App footer .footer-div2 {
  display: flex;
  align-items: left;
}
.App footer .footer-div2 p {
  color: #667085;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.App footer .footer-div3 {
  display: flex;
  align-items: left;
}
.App footer .footer-div3 img {
  width: 17vw;
  height: 24px;
}

@media screen and (max-width: 640px) {
  .share_btn_desktop {
    display: none;
  }
}
@media screen and (min-width: 640px) {
  .App {
    text-align: center;
  }
  .App header {
    max-width: 100%;
    display: grid;
    grid-template-columns: 35vw 5vw;
    justify-content: center;
    margin-top: 4vw;
  }
  .App header .div1 {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
  }
  .App header .div1 img {
    width: 88px;
    height: 88px;
  }
  .App header .div1 .hoverClass {
    display: none;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-top: -6.4vw;
    background-color: rgba(128, 128, 128, 0.597);
    border-radius: 50px;
    height: 88px;
    width: 88px;
  }
  .App header .div1 .hoverClass img {
    width: 25px;
    height: 25px;
  }
  .App header .div1 #twitter {
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    text-align: center;
  }
  .App header .div1 #slack {
    display: none;
  }
  .App header .div2 .share_btn {
    display: none;
  }
  .App header .div2 .share_btn_desktop {
    width: 40px;
    height: 40px;
    margin-top: -10px;
  }
  .App .links {
    max-width: 100%;
    margin-top: 4vw;
    display: flex;
    gap: 8vw;
    flex-direction: column;
    align-items: center;
  }
  .App .links a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: black;
    background-color: #EAECF0;
    border-radius: 8px;
    width: 75vw;
    padding: 24px;
    text-decoration: none;
  }
  .App .div3 {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4vw;
    gap: 3vw;
  }
  .App .div3 img {
    width: 24px;
    height: 24px;
  }
  .App .footer-container {
    display: grid;
    grid-template-columns: 90vw;
    justify-content: center;
  }
  .App footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    margin-top: 17vw;
    border-top: 1px solid #EAECF0;
  }
  .App footer .footer-div1 {
    display: flex;
  }
  .App footer .footer-div1 img {
    width: 138px;
    height: 24px;
  }
  .App footer .footer-div2 {
    display: flex;
    align-items: left;
  }
  .App footer .footer-div2 p {
    color: #667085;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }
  .App footer .footer-div3 {
    display: flex;
    align-items: left;
  }
  .App footer .footer-div3 img {
    width: 138px;
    height: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .App {
    text-align: center;
  }
  .App header {
    max-width: 100%;
    display: grid;
    grid-template-columns: 35vw 5vw;
    gap: 4vw;
    justify-content: center;
    margin-top: 4vw;
  }
  .App header .div1 {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
  }
  .App header .div1 img {
    width: 88px;
    height: 88px;
  }
  .App header .div1 .hoverClass {
    display: none;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-top: -6.4vw;
    background-color: rgba(128, 128, 128, 0.597);
    border-radius: 50px;
    height: 88px;
    width: 88px;
  }
  .App header .div1 .hoverClass img {
    width: 25px;
    height: 25px;
  }
  .App header .div1 #twitter {
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    text-align: center;
  }
  .App header .div1 #slack {
    display: none;
  }
  .App header .div2 .share_btn {
    display: none;
  }
  .App header .div2 .share_btn_desktop {
    width: 40px;
    height: 40px;
  }
  .App .links {
    max-width: 100%;
    margin-top: 4vw;
    display: flex;
    gap: 8vw;
    flex-direction: column;
    align-items: center;
  }
  .App .links a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: black;
    background-color: #EAECF0;
    border-radius: 8px;
    width: 75vw;
    padding: 24px;
    text-decoration: none;
  }
  .App .div3 {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4vw;
    gap: 3vw;
  }
  .App .div3 img {
    width: 24px;
    height: 24px;
  }
  .App .footer-container {
    display: grid;
    grid-template-columns: 90vw;
    max-width: 100%;
  }
  .App footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    margin-top: 17vw;
  }
  .App footer .footer-div1 {
    display: flex;
  }
  .App footer .footer-div1 img {
    width: 138px;
    height: 24px;
  }
  .App footer .footer-div2 {
    display: flex;
    align-items: left;
  }
  .App footer .footer-div2 p {
    color: #667085;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }
  .App footer .footer-div3 {
    display: flex;
    align-items: left;
  }
  .App footer .footer-div3 img {
    width: 138px;
    height: 24px;
  }
}/*# sourceMappingURL=App.css.map */